[submodule "BUILD"]
	path = BUILD
	url = https://github.com/zxdawn/AutoWRFChem-Base.git
[submodule "WPS"]
	path = WPS
	url = https://github.com/zxdawn/WPS.git
	branch = v3.5.1
[submodule "WRFV3"]
        path = WRFV3
        url = https://github.com/zxdawn/WRF-Chem-R2SMH.git
[submodule "MEGAN"]
	path = MEGAN
	url = https://github.com/CohenBerkeleyLab/MEGAN.git
[submodule "MOZBC"]
	path = MOZBC
	url = https://github.com/CohenBerkeleyLab/MOZBC.git
[submodule "FINN"]
	path = FINN
	url = https://github.com/zxdawn/FINN.git
[submodule "MOZART"]
	path = MOZART
	url = https://github.com/zxdawn/MOZART.git
[submodule "MEIC"]
	path = MEIC
	url = https://github.com/zxdawn/MEIC.git
